body{
    margin: 0;
}
#topbar{
    text-align: center;
    background-color: rgb(39, 39, 63);
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: +1;
}

#topbar img{
    width: 100px;
    height: 50px;
    transform: translateY(7px);
}
   
#main-container{
    display: flex;
    padding: 0px 0px 0px 200px;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}
#top-band{
    width: 170px;
    height: 80px;
    background-color: black;
    display: flex;
}
#middle-part{
    width: 170px;
    height: 200px;
    border-radius: 10%;
    background-color: rgb(199, 199, 240);
    padding-top: 15px;
    box-sizing: border-box;
}
#inside-div{
    width: 140px;
    height:170px;
    border-radius: 10%;
    margin-left: 15px;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
#heart-rate-div{
    width: 140px;
    height: 170px;
    border-radius: 10%;
    margin-left: 15px;
    background-color: black;
    text-align: center;
    color:white;
    font-size: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom-band{
    width: 170px;
    height: 80px;
    background-color:black;
    display: flex;
}
#details-container{
    padding-left: 150px;
}
.select{
    width: 50px;
    height: 40px;
}
.features{
    padding: 10px 20px;
    background-color: rgb(199, 199, 240);
}
.buy{
    padding: 15px 30px;
    background-color: chocolate;
}
#btn-1{
    background-color: black;
}
#btn-2{
    background-color: rgb(230, 117, 24);
}
#btn-3{
    background-color: rgb(81, 81, 206);
}
#btn-4{
    background-color: purple;
}
button{
    border: none;
    border-radius: 7px;
    outline: none;
}